# Django settings
DEBUG=True
SECRET_KEY=your-django-secret-key-here

# External APIs
# Register and get your Clipdrop API key from https://clipdrop.co/apis
CLIPDROP_API_KEY=your-clipdrop-api-key-here
